.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.counters {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.winCount {
    display: flex;
    flex-direction: column;
    align-items: center;
}